<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="RedisServer" connectionString="127.0.0.1:6379,connectRetry=3,connectTimeout=30,allowAdmin=true"/>
    <add name="Local" connectionString="server=(local);uid=sa;pwd=maoheng0;"/>
    <add name="Default" connectionString="server=(local);uid=sa;pwd=maoheng0;"/>
  </connectionStrings>
  <appSettings>
    <add key="SqlServerLocation" value="E:\SqlServerWorking1"/>
  </appSettings>
</configuration>