<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="RedisServer" connectionString="127.0.0.1:6379,connectRetry=3,connectTimeout=30,allowAdmin=true"/>
    <add name="Local" connectionString="server=(local);uid=sa;pwd=maoheng0;"/>
    <add name="Local2017" connectionString="server=127.0.0.1,1444;uid=sa;pwd=maoheng0;"/>
    <add name="Default" connectionString="server=(local);uid=sa;pwd=maoheng0;"/>
    <add name="Server170" connectionString="server=192.168.1.170;uid=reader;pwd=reader;"/>
    <add name="Server217" connectionString="server=192.168.38.217;uid=sa;pwd=maoheng0;"/>
    <add name="Server182" connectionString="server=192.168.38.182;uid=sa;pwd=maoheng0;"/>
    <add name="Server84" connectionString="server=192.168.1.84;uid=sa;pwd=pass123;"/>
    <add name="Server208_2017" connectionString="server=192.168.38.208,1444;uid=sa;pwd=maoheng0;"/>
    <add name="Server208_2014" connectionString="server=192.168.38.208;uid=sa;pwd=maoheng0;"/>
  </connectionStrings>
  <appSettings>
    <add key="SqlServerLocation" value="E:\SqlServerWorking"/>
  </appSettings>
</configuration>